a{
  color: grey!important;
}

.router-link-active{
  color: #2d8cf0!important;
}

a:hover{
  color: #2d8cf0!important;
}


.ivu-modal-header{
  background-color:#2d8cf0;
}

.ivu-tabs-bar{
  height:40px;
  margin:10px 10px 0px 10px!important;

  border:0
}

.ivu-col{
  width: 154px;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 10px 14px 0 0;
  padding: 4px 8px;
  background: #f7f7f7;
  border-radius: 3px;
  cursor: pointer;
}
/* .ivu-tabs-content{
  background:#f3f3f3;
}
.ivu-list-item{
  background:#ffffff;
} */
.ivu-col img{
  display: inline-block;
  margin-right: 12px;
  width: 40px;
  height: 40px;
}

.ivu-col .span{
  width: auto;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ivu-row-flex-space-between{
  justify-content:unset!important
}
.iconHover :hover{
  cursor: pointer;
}
#top-left-wrapper{
  top:7vh!important;
}
.w-30{
  width:30%;
}

.ivu-col-span-5{
  width:22.833333%!important;
}

.es-header{
  position: relative;
  line-height: 50px;
  height: 50px!important;
  margin-bottom: 25px;
  color: #f7f7f7;
  z-index: 3;
  background-color: #2d8cf0;
}
.es-container{
  margin: 0 auto;
  width: 1010px;
  display: flex;
}

.container-shadow{
  box-shadow: 0 4px 10px rgba(0,0,0,.2);
}

.es-header-logo{
  width: 303px;
  min-width: 303px;
  max-width: 303px;
}
.header-logo-img{
  width:110px;
  display: inline-block;
}
.es-header-main{
  padding-left:10px;
  width: 280px;
}
.es-header-profile{
  text-align:right;
  width:427px
}
.es-header-profile span{
  margin-left:10px
}
.es-menu{
  width: 303px;
  min-width: 303px;
  max-width: 303px;
  height: 87vh;
  background: white;
}
.p-scroll{
  height:77vh!important;
  /* overflow: auto;     */
}
.es-menu ul{
  width:296px!important;

}

.es-router{
  width:707px;
  background: #ffffff;
  margin-left: 10px;
}
.es-footer{
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  color: #9f9f9f;
}
.login-input input{
  height:45px;
}

.ivu-modal-header-inner {
  color: #fff!important;
  text-align:center;
}
.login-page .header{
  background: hsla(0,0%,100%,.9);
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.login-page .header-box{
  width: 60%;
  cursor: pointer;
  margin:0 auto;
  display: flex;
}
.login-page .header-logo{
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-box-pack: flex-start;
  -o-box-pack: flex-start;
  box-pack: flex-start;
  cursor: pointer;
}
.login-page .header-logo, .login-page .header-nav {
  flex-grow: 1;
  width: 50%;
}
.login-page .header-nav{
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-box-pack: flex-end;
  -o-box-pack: flex-end;
  box-pack: flex-end;
}
.login-page .header-nav a {
  display: block;
  height: 65px;
  padding: 0 15px;
  line-height: 65px;
  font-size: 16px;
  font-family: Arial,Hiragino Sans GB,md-hsgb,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
.header-logo img{
  width: 150px;
}
.login-page .main {
  background: url('../img/login.jpg') no-repeat 50%/cover;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  height: 96vh;
  display: -webkit-flex;
}
.login-page .main .describe{
  font-size: 16px;
  color: #fff;
  width: 340px;
  line-height: 1.5;
  text-indent: 2em;
  text-shadow: 0 1px 1px #202020;
}
.login-page .main .login{
  width: 360px;
  height: 380px;
  position: relative;
  margin-left: 120px;
  background: hsla(0,0%,100%,.9);
  border-radius: 5px;
  padding: 10px 30px;
}

.es-model{
  padding: 50px 0;
  margin:0 auto;
  text-align: center;
}
.es-model p{
  text-align: center;
  color: #9f9f9f;
  font-size: 12px;
  margin-top: 30px;
  font-weight: 400;
}
.es-model img{
  margin:0 auto;
}

.es-item{
  padding: 5px 10px;
  width: 100%;
  /* overflow: hidden; */
  background: #fff;
  min-height: 45px;
  /* position: relative; */
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-box-pack: space-between;
  -o-box-pack: space-between;
  box-pack: space-between;
  border-bottom: #f7f7f7 solid 1px;
}
.es-item-left{
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-box-pack: flex-start;
  -o-box-pack: flex-start;
  box-pack: flex-start;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
}

.es-item-left img{
  border-radius: 0!important;
  width: 40px;
  height: 40px;
 ;
}
.es-item-info{
  margin-left: 10px!important
}
.es-item-info .title{

}
.es-item-info .main{
  overflow: hidden;
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #9f9f9f;
}
.es-item-right{
  color: #9f9f9f;
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-box-pack: flex-end;
  -o-box-pack: flex-end;
  box-pack: flex-end;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  text-align: right;
  max-width: 70%;
}
.category-title{
  font-size: 12px;
  min-height: 10px;
  line-height: 25px;
  color: #778c99;
  background: #f3f3f3;
  background-color: #f3f3f3;
  padding: 0 20px;
  overflow: hidden
}
.es-alphabet{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  z-index:100;
}

.es-alphabet div{
  border-radius: 10px;
  padding: 10px 7px;
  background: #f8f8f8;
}

.es-alphabet div label{
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  display: block;
  cursor: pointer;
  color: #9f9f9f;
}
.ivu-icon-ios-close{
  color:white!important;
}
.ivu-icon-ios-close:hover{
  /* color:#444!important; */
  cursor: pointer!important;
}
.ivu-icon-ios-arrow-back{
  top: 15px!important;
  position: absolute!important;
  font-size: 20px!important;
  color: white!important;
  cursor: pointer!important;
}
.p-modal-scroll{
  height:74vh!important;
  
}

.es-item:hover{
  cursor: pointer!important;
}
/* .video-js .vjs-big-play-button{
  top: 50%!important;
  left: 50%!important;
} */

.video-box img{
  width: 200px;
  height: 150px;
}

._table tbody{
  display:block;
  max-height:69vh;
  overflow-y:scroll;
}

._table thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

.play-video-icon{
  top: 58px;
  left: 94px;
  font-size: 37px;
  color: #2D8CF0;
  cursor: pointer;
}

.play-video-icon:hover{
  color: #2663a3;
}

.vertical-center-modal .ivu-modal-body{
  padding: 0!important;
}

.vertical-center-modal .ivu-modal-content{
  height: 65vh!important;
  width: 1010px!important;
}

.index-video-modal  .ivu-modal-body{
  padding: 0!important;
}

.select-category-area i{
  font-size: 2rem;
}


.live-streaming-modal .ivu-modal-content{
  height: 65vh!important;
  width: 1010px!important;
}
.live-streaming-modal .ivu-modal-body{
  padding: 0!important;
}


.register-live-lecture-modal .ivu-modal-content{
  /* height: 57vh!important; */
}

.register-live-lecture-modal i{
  font-size: 1.5rem;
  color: #2d8cf0;
}

.register-live-lecture-modal i.ivu-icon.ivu-icon-ios-close.ivu-upload-list-remove{
  color: #2d8cf0!important;
}

.lecture-box img {
  width: 150px;
  height: 100px;
}

.index-registered-live-lecture-modal .ivu-modal-body{
  padding: 0!important;
}

.index-registered-live-lecture-modal .ivu-modal-content{
  height: 65vh!important;
  width: 1010px!important;
}

.delete-live-lecture-modal{
  text-align: center;
  justify-content: center;
  align-items: center;

}

.btn-area{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.delete-live-lecture-modal .ivu-modal-body{
  padding: 0!important;
}

.delete-live-lecture-modal .ivu-modal-content{
  height: 16vh!important;
  width: 420px!important;
}

.__table th,
.__table td {
  padding: 0.75rem;
  vertical-align: middle!important;
  border-top: 1px solid #dee2e6;
  word-wrap:break-word;
}


.__table tbody {
  display: block;
  max-height: 52vh;
  overflow-y: scroll;
}

.status-box img{
  width: 15px;
  height: 15px;
}


.es-app-detail-header{
  padding: 10px 0px!important;
  display: flex;
  width: 100%;
}

.es-item .ellipsis{
  max-width: 500px;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.es-item-right>div{
  text-align: right;
  padding-right: 8px;
}

.es-item-right>.ico{
  margin-right:8px;
}

.ivu-modal-content{
  width:720px!important;
  height: 88vh!important;
}
.es-space {
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-box-pack: flex-start;
  -o-box-pack: flex-start;
  box-pack: flex-start;
  margin-left: 10px;
}
.es-main{
  width:697px;
}
.es-contacts{
  width: 302px;
  margin-left: 10px;
}
.es-branch .es-contacts{
  position: absolute;
  right: 15px;
  top: 0;
  width: 280px;
}
.es-main-header{
  width: 100%;
  position: relative;
  line-height: 40px;
  padding: 0 10px;
  overflow: hidden;
  margin-bottom: 10px;
  background: #fff;
  z-index: 10;
}
.es-info-container{
  background:#fff;
}

.app-title-margin {
  margin: 10px 0 10px;
}
.app-title {
  position: relative;
  padding: 0 25px;
  line-height: 20px;
}
#baidumapComponent .addbtn{
  margin: 10px 5px;
  padding: 5px 20px;
  border-radius: 8px;
  color: white;
  background: #2d8cf0;
  border: none;
}

.classModal .ivu-modal-content{
  width:970px!important;
}

.es-item.s{
  display:block!important;
}
.es-item.s .logo{
  width:50px;
}

.es-item.s .logo, .es-item.s .main {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  max-width: none!important;
}

.ivu-dropdown-menu{
  text-align:center!important;
}
.rightToLeft{
  direction: rtl;
  unicode-bidi: bidi-override;
  border:none!important;
}
.rightToLeft input{
  border: none!important;
  background: none!important;
}

.rightToLeft input:focus{
  box-shadow: none!important;
}
.pd{
  padding:0 10px;
}
.text-color:{
  color:#2D8CF0;
}
.table-image img{
  width:25px;
}